body {
	background-color: black;
}

h1 {
	background-color: #FFFFFF;
	font-family: Arial;
	font-style: italic;
	font-size: 30px;
}

p {
	color: #FFFFFF;
	font-family: Arial;
}

a {
	font-family: Arial;
}